# Compiled Object files
*.slo
*.lo
*.o
*.obj
https://medium.com/mongoaudit/how-to-enable-authentication-on-mongodb-b9e8a924efac

https://docs.mongodb.com/manual/tutorial/install-mongodb-on-ubuntu/
# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
